*
{
    margin: 0;
padding:0;
box-sizing: border-box;

}
.main-contianer
{
    width: 500px;
    height:400px ;
    background-color: white;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px;
}
body{
    background: url(man-593333_1280.jpg);
    background-size: cover;
    height: 100vh;
}
.question-list
{
    margin-top: 50px;
    width: 100%;
    height: 80%;
}
.question
{
    padding:20px;
    


}
button{
    cursor: pointer;
}
#content
{
    display: none;
}

